In [29]:
import pandas as pd
import numpy as np
from datasets import load_dataset
from transformers import AutoTokenizer

In [19]:
eval_set = pd.read_csv("Pythia_70m_Deduped_Low_Perplexity_Labeling_Formatted.csv")
eval_set

,index,perplexity,memorized,is_code,shortened_text,Category,Note
0,92883,3.687500,True,True,}{-69pt}\n \begin{document}$u_{n}\rightarrow u...,code,latex
1,685875,3.837891,True,False,alesSite: All American Trannies\n\nFor Search ...,nl,NaN
2,973152,2.884766,True,False,"18>::type T18;\n typedef map<T0, T1, T2, T3, T...",pattern-incrementing,NaN
3,1016981,1.056641,True,True,]{minimal}\n \usepackage{amsmath}\n \usepackag...,code,latex
4,1089371,3.882812,True,True,": 1,\n"",\n ""'col-md-push-6' : 1,\n"",\n ""'col-...",pattern-incrementing,NaN
...,...,...,...,...,...,...,...
2495,2581351,3.392578,False,True,2*y**2 + 6*y. Let z(g) = -3*g**2 - 7*g - 7. Le...,code+nl,math
2496,2583534,3.597656,False,False,"039 ### ###',\n '049 ### ###',\n '050 ### ###'...",pattern-incrementing,NaN
2497,2584695,3.710938,False,True,".1, -1?\n-1\nWhat is the second biggest value ...",code+nl,math
2498,2586170,3.080078,False,True,public DbUpdateException()\n {\n }\n\n /// <su...,code,NaN
2499,2593068,2.578125,False,True,CLANG_WARN_BOOL_CONVERSION = YES;\n CLANG_WARN...,code,NaN

In [20]:
pythia_70m_memories = load_dataset("EleutherAI/pythia-memorized-evals", split="deduped.70m").to_pandas()
pythia_70m_memories

Found cached dataset parquet (/home/kyle/.cache/huggingface/datasets/EleutherAI___parquet/EleutherAI--pythia-memorized-evals-623aaa371a33821a/0.0.0/2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec)

,index,tokens,__index_level_0__
0,441,"[5584, 4196, 1228, 187, 1036, 4, 209, 21723, 2...",441
1,447,"[50262, 61, 2099, 92, 8861, 94, 187, 50262, 61...",447
2,792,"[475, 50272, 953, 24781, 778, 320, 908, 281, 1...",792
3,1539,"[424, 380, 16101, 313, 433, 17889, 3104, 10, 2...",1539
4,1705,"[3498, 2262, 2369, 40, 736, 13, 3956, 27, 21, ...",1705
...,...,...,...
411443,146431199,"[281, 320, 669, 8604, 60, 805, 431, 1019, 8402...",2287199
411444,146431278,"[588, 1705, 285, 8415, 634, 1895, 15, 30952, 3...",2287278
411445,146431294,"[15468, 13, 50275, 13743, 13, 50275, 15220, 13...",2287294
411446,146431588,"[27, 330, 14788, 10334, 14, 3429, 27, 577, 28,...",2287588
411447,146431592,"[1406, 485, 15, 23780, 300, 2473, 285, 12698, ...",2287592

In [21]:
# join both frames on their column named index
memories_eval_set = eval_set.join(pythia_70m_memories.set_index('index'), on='index', how="inner")
memories_eval_set

,index,perplexity,memorized,is_code,shortened_text,Category,Note,tokens,__index_level_0__
0,92883,3.687500,True,True,}{-69pt}\n \begin{document}$u_{n}\rightarrow u...,code,latex,"[8699, 2090, 431, 94, 187, 50262, 61, 2043, 92...",92883
1,685875,3.837891,True,False,alesSite: All American Trannies\n\nFor Search ...,nl,NaN,"[2339, 27327, 27, 1876, 2448, 1535, 1136, 447,...",685875
2,973152,2.884766,True,False,"18>::type T18;\n typedef map<T0, T1, T2, T3, T...",pattern-incrementing,NaN,"[1093, 14157, 881, 308, 1093, 28, 187, 50266, ...",973152
3,1016981,1.056641,True,True,]{minimal}\n \usepackage{amsmath}\n \usepackag...,code,latex,"[1019, 8402, 94, 187, 50262, 61, 2099, 92, 879...",1016981
4,1089371,3.882812,True,True,": 1,\n"",\n ""'col-md-push-6' : 1,\n"",\n ""'col-...",pattern-incrementing,NaN,"[8, 1163, 337, 1337, 79, 995, 187, 50274, 2789...",1089371
...,...,...,...,...,...,...,...,...,...
2486,2555832,3.667969,False,True,"dip)</pre>\n</li>\n</ul>\n<a name=""cornerRadiu...",code,NaN,"[31665, 17266, 3456, 31, 187, 870, 965, 31, 18...",267832
2488,2556154,2.320312,False,False,LEASE COME TO MEXICO CITY PLEASE COME TO MEXIC...,pattern-repeating,NaN,"[26084, 8610, 38, 5935, 353, 4237, 24218, 4589...",268154
2491,2560655,4.386719,False,True,NL_WABMON_4 = 131141\n X_NL_WABMON_5 = 131142\...,pattern-incrementing,NaN,"[19214, 64, 56, 2925, 22362, 64, 21, 50276, 30...",272655
2493,2570852,4.101562,False,False,WITH OCESAPLEASE COME MEXICO CITY WITH OCESAPL...,pattern-repeating,NaN,"[9277, 27202, 1410, 2088, 26084, 8610, 38, 353...",282852
2496,2583534,3.597656,False,False,"039 ### ###',\n '049 ### ###',\n '050 ### ###'...",pattern-incrementing,NaN,"[18832, 209, 4118, 209, 4118, 1383, 187, 50270...",295534

In [24]:
non_memories = load_dataset("EleutherAI/pile-deduped-pythia-random-sampled")["train"].to_pandas()
non_memories

Found cached dataset parquet (/home/kyle/.cache/huggingface/datasets/EleutherAI___parquet/EleutherAI--pile-deduped-pythia-random-sampled-ef6db9ddd170a4bc/0.0.0/2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 18.26it/s]

,index,tokens,is_memorized
0,18,"[15, 46525, 3439, 2526, 187, 14, 17, 15, 1036,...",False
1,43,"[273, 22523, 18595, 275, 643, 3054, 2085, 3081...",False
2,86,"[749, 10580, 273, 575, 5, 44, 64, 79, 5, 534, ...",False
3,110,"[12556, 187, 71, 437, 285, 45965, 13, 285, 253...",False
4,112,"[3847, 277, 2631, 449, 346, 1552, 310, 417, 82...",False
...,...,...,...
4999995,146431872,"[3117, 393, 6040, 416, 393, 5786, 393, 50, 5, ...",False
4999996,146431904,"[187, 6067, 1783, 2722, 326, 14108, 1638, 3400...",False
4999997,146431927,"[704, 39660, 1051, 187, 29, 56, 2711, 8537, 37...",False
4999998,146431960,"[14, 34552, 15390, 1253, 15280, 285, 1108, 447...",False
4999999,146431973,"[38630, 14716, 247, 15846, 8651, 5763, 15, 831...",False

In [25]:
non_memories_eval_set = eval_set.join(non_memories.set_index('index'), on='index', how="inner")
non_memories_eval_set

,index,perplexity,memorized,is_code,shortened_text,Category,Note,tokens,is_memorized
12,1999230,2.210938,True,False,"Armenians"",0,"""",0,"""",0,0,0,0,0,0,0,0,0,0,0,0,0...",code,NaN,"[37801, 2458, 995, 17, 937, 995, 17, 937, 995,...",False
2184,1999230,2.210938,False,False,"Armenians"",0,"""",0,"""",0,0,0,0,0,0,0,0,0,0,0,0,0...",pattern-repeating,NaN,"[37801, 2458, 995, 17, 937, 995, 17, 937, 995,...",False
17,2814976,4.007812,True,True,/brand-5\nhttps://m.52010000.cn/brand-6\nhttps...,code,NaN,"[16, 22374, 14, 22, 187, 3614, 1358, 78, 15, 2...",False
26,3616218,2.611328,True,True,"CA5 },\n { 0x10CE6, 0x10CA6 },\n { 0x10CE7, 0x...",pattern-incrementing,NaN,"[4280, 22, 3572, 187, 50274, 92, 470, 89, 740,...",False
89,9657233,2.617188,True,True,#ERROR!,code,NaN,"[568, 2437, 275, 389, 15, 29762, 15, 26318, 15...",False
...,...,...,...,...,...,...,...,...,...
2495,2581351,3.392578,False,True,2*y**2 + 6*y. Let z(g) = -3*g**2 - 7*g - 7. Le...,code+nl,math,"[374, 11, 90, 424, 19, 559, 721, 11, 90, 15, 1...",False
2496,2583534,3.597656,False,False,"039 ### ###',\n '049 ### ###',\n '050 ### ###'...",pattern-incrementing,NaN,"[18832, 209, 4118, 209, 4118, 1383, 187, 50270...",False
2497,2584695,3.710938,False,True,".1, -1?\n-1\nWhat is the second biggest value ...",code+nl,math,"[15, 18, 13, 428, 18, 32, 187, 14, 18, 187, 12...",False
2498,2586170,3.080078,False,True,public DbUpdateException()\n {\n }\n\n /// <su...,code,NaN,"[187, 50270, 4387, 46688, 11241, 5330, 1082, 1...",False
2499,2593068,2.578125,False,True,CLANG_WARN_BOOL_CONVERSION = YES;\n CLANG_WARN...,code,NaN,"[3207, 14375, 64, 24798, 64, 30529, 64, 5707, ...",False

In [30]:
tokenizer = AutoTokenizer.from_pretrained("EleutherAI/pythia-70m-deduped")

In [39]:
target_columns = ["index", "memorized", "perplexity", "is_code", "tokens"]
combined_joined_eval_set = pd.concat([memories_eval_set, non_memories_eval_set])[target_columns]
combined_joined_eval_set["prompt"] = combined_joined_eval_set["tokens"].apply(lambda x: tokenizer.decode(x[:32]))
combined_joined_eval_set["sequence"] = combined_joined_eval_set["tokens"].apply(lambda x: tokenizer.decode(x[:64]))
combined_joined_eval_set = combined_joined_eval_set.drop_duplicates(subset=["index"]).drop(columns=["tokens"]).sample(frac=1)

annotater_columns = [
    "Code",
    "Incremental",
    "Repetitive",
    "Highly Duplicated",
    "Templating",
    "Natural Language",
    "Random",
    "Other",
    "Notes"
]

combined_joined_eval_set.to_csv("combined_formatted_eval_set.csv", index=False)
for col in annotater_columns:
    combined_joined_eval_set[col] = ""
combined_joined_eval_set

,index,memorized,perplexity,is_code,prompt,sequence,Code,Incremental,Repetitive,Highly Duplicated,Templating,Natural Language,Random,Other,Notes
1720,1042625,False,4.777344,True,4\nLet f be ((-1)/2)/(2/4). Let a = 6 - 5. Let...,4\nLet f be ((-1)/2)/(2/4). Let a = 6 - 5. Let...,,,,,,,,,
1412,378406,False,4.007812,True,2/2 + 3*r - 3. Let g(x) be the first derivativ...,2/2 + 3*r - 3. Let g(x) be the first derivativ...,,,,,,,,,
1794,1188414,False,1.437500,True,usepackage{amsmath}\n\usepackage{wasysym} \n\u...,usepackage{amsmath}\n\usepackage{wasysym} \n\u...,,,,,,,,,
1985,1572476,False,3.982422,True,v - 2*v + 6 = 0. Let k be (3/v)/(2/(-8)). Let ...,v - 2*v + 6 = 0. Let k be (3/v)/(2/(-8)). Let ...,,,,,,,,,
510,60937406,True,2.820312,True,\n\n![](amjdentsci80652-0039){#sp2.143}\n\n![]...,\n\n![](amjdentsci80652-0039){#sp2.143}\n\n![]...,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,121637700,True,1.520508,True,"=""1.0"" encoding=""UTF-8""?>\n<!DOCTYPE plist PUB...","=""1.0"" encoding=""UTF-8""?>\n<!DOCTYPE plist PUB...",,,,,,,,,
71,7827439,True,3.263672,True,per Team is already on the scene....<?xml vers...,per Team is already on the scene....<?xml vers...,,,,,,,,,
2011,1644096,False,3.005859,False,11.9â€‰Â±â€‰2.0 11.5â€‰Â±â€‰2.0 11.2â€‰Â±â€‰2.2 \<,11.9â€‰Â±â€‰2.0 11.5â€‰Â±â€‰2.0 11.2â€‰Â±â€‰2.2 \...,,,,,,,,,
1028,118099130,True,2.289062,False,"ref 8, ref 9, ref 10, ref 11, ref 12, ref 13,...","ref 8, ref 9, ref 10, ref 11, ref 12, ref 13,...",,,,,,,,,
1026,118045648,True,2.908203,True,"ISA as two detectors, so that the signal in ea...","ISA as two detectors, so that the signal in ea...",,,,,,,,,

In [40]:
combined_strat_downsample = pd.concat(
    [combined_joined_eval_set[combined_joined_eval_set["memorized"]].sample(50),
     combined_joined_eval_set[~combined_joined_eval_set["memorized"]].sample(50)]).sample(frac=1)

combined_strat_downsample.to_csv("combined_strat_downsample.csv", index=False)
combined_strat_downsample

,index,memorized,perplexity,is_code,prompt,sequence,Code,Incremental,Repetitive,Highly Duplicated,Templating,Natural Language,Random,Other,Notes
1497,576734,False,3.447266,True,"(-1.0, -1.0, 0);\nglTexCoord2f(0, 0);\nglVerte...","(-1.0, -1.0, 0);\nglTexCoord2f(0, 0);\nglVerte...",,,,,,,,,
389,45993218,True,1.752930,True,not use this file except in compliance with t...,not use this file except in compliance with t...,,,,,,,,,
1095,126795714,True,4.429688,True,(c) 2019 Wei Wang <onevcat@gmail.com>\n//\n//...,(c) 2019 Wei Wang <onevcat@gmail.com>\n//\n//...,,,,,,,,,
496,58907866,True,1.357422,False,http://www.apache.org/licenses/LICENSE-2.0\n\n...,http://www.apache.org/licenses/LICENSE-2.0\n\n...,,,,,,,,,
1647,911620,False,3.562500,True,"=""table-fn""} ...","=""table-fn""} ...",,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083,1786406,False,1.972656,True,\n \usepackage{amssymb} \n ...,\n \usepackage{amssymb} \n ...,,,,,,,,,
1202,139649808,True,1.101562,True,$\documentclass[12pt]{minimal}\n ...,$\documentclass[12pt]{minimal}\n ...,,,,,,,,,
428,50719780,True,1.749023,True,in compliance with the License.\n// You may o...,in compliance with the License.\n// You may o...,,,,,,,,,
2020,1659069,False,3.974609,False,?\n3\nWhat is the ninth root of 113001 to the ...,?\n3\nWhat is the ninth root of 113001 to the ...,,,,,,,,,
506,60582215,True,1.504883,True,good judgment.//\n// Generated by class-d...,good judgment.//\n// Generated by class-d...,,,,,,,,,